@import "tailwindcss";

:root {
    --radius: 0.25rem;
    --background: oklch(0.19 0 0);
    --foreground: oklch(0.92 0 0);
    --card: oklch(0.23 0.0062 17.61);
    --card-foreground: oklch(1 0 0);
    --card-secondary: oklch(0.31 0 0);
    --card-secondary-foreground: oklch(0.86 0 0);
    --primary: oklch(0.59 0.2367 28.14);
    --primary-foreground: oklch(0.92 0 0);
    --destructive: oklch(0.62 0.2132 23.68);
    --warning: oklch(0.681 0.162 75.834);
    --secondary: oklch(0.6 0 0);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0 0 0 / 70%);
    --muted-foreground: oklch(1 0 0 / 70%);
    --accent: oklch(1 0 0);
    --accent-foreground: oklch(0 0 0);
    --border: oklch(0.6 0 0);
    --border-muted: oklch(0.26 0 0);
    --ring: oklch(1 0 0);

    /*DEFAULT VALUES DEFINED ONLY FOR INTERPRETER PURPOSES*/
    --hover-scale-x: 65;
    --hover-scale-y: 65;
    --hover-translate-x: 0px;
    --hover-offset: 0px;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-ring: var(--ring);
    --color-border: var(--border);
    --color-border-muted: var(--border-muted);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-destructive: var(--destructive);
    --color-warning: var(--warning);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-card-secondary-foreground: var(--card-secondary-foreground);
    --color-card-secondary: var(--card-secondary);
    --radius-radius: var(--radius);
}

@theme {
    --animate-fade-in: fade-in;
    --animate-fade-out: fade-out;
    --animate-slide-in-ltr: slide-in-ltr;
    --animate-slide-out-ltr: slide-out-ltr;
    --animate-slide-in-rtl: slide-in-rtl;
    --animate-slide-out-rtl: slide-out-rtl;
    --animate-hover-card-open: hover-card-open;
    --animate-hover-card-close: hover-card-close ;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes slide-in-ltr {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slide-out-ltr {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes slide-in-rtl {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slide-out-rtl {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @keyframes hover-card-open {
        0% {
            transform: translateX(0) translateY(0) scale(var(--hover-scale-x), var(--hover-scale-y));
            box-shadow: none;
            animation-timing-function: ease-out;
            background-color: transparent;
        }
        10% {
            background-color: var(--background);
        }
        100% {
            transform: translateX(var(--hover-translate-x)) translateY(var(--hover-offset)) scale(1);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
        }
    }

    @keyframes hover-card-close {
        0% {
            transform: translateX(var(--hover-translate-x)) translateY(var(--hover-offset)) scale(1);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
            animation-timing-function: ease-out;
            background-color: var(--background);
        }
        50% {
            background-color: var(--background);
        }
        100% {
            transform: translateX(0) translateY(0) scale(var(--hover-scale-x), var(--hover-scale-y));
            box-shadow: none;
            background-color: transparent;
        }
    }


}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
