@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
  font-family: "Netflix Sans", sans-serif;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("../public/fonts/NetflixSans_W_Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("../public/fonts/NetflixSans_W_Md.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("../public/fonts/NetflixSans_W_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.profilesContainer {
  animation: animateProfileGate 0.45s forwards;
}

@keyframes animateProfileGate {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
